body
{
    display:flex;
    flex-direction: column;
    font-family:'Hero';
}

.header
{
    display:flex;
    align-items: center;
    justify-content:space-around;
    background-color: #1F2937;
    color:white;
}
.headerlogo
{
    
}
.headerlinks
{
    display:flex;
    
    gap:18px;
}
a
{
    text-decoration: none;
    color:white;
}