

body
{
    display:flex;
    flex-direction: column;
    font-family:'Open Sans',sans-serif;
}

.header
{
    display:flex;
    align-items: center;
    justify-content:space-around;
    background-color: #1F2937;
    color:white;
    
}
.headerlogo
{
    
}
.headerlinks
{
    display:flex;
    
    gap:18px;
}
a
{
    text-decoration: none;
    color:white;
}

.sec1
{
    display:flex;
    background:#1F2937;
    color:white;
    gap:20px;
}
.sec1sec1
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:60px;
    align-items: center;
    padding-left:100px;
    width:800px;
    gap:20px;
    
    
    
}
.sec1button
{
    width: 150px;
    background-color:#3882f6 ;
    color:white;
    font-weight: 800;
    padding:20px;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 18px;
    
}
.header1
{
    font-size: 60px;
    width:400px;
    font-weight: bold;
}
.header4
{
    font-size: 20px;
    max-width:400px;
}


.sec2
{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    font-size:22px;
    
}

.box
{
    width:180px;
    height:180px;
    border:4px;
    border-style:solid;
    border-color: #3882f6;
    margin:10px;
    background-color: rgb(255, 255, 255);
    border-radius:9px;
    
}
.boxtext
{
   max-width:fit-content;
   text-align: center;
}

.boxes
{
    display:flex;
    justify-content: center;
    gap:15px;
}

.sec3
{
    background-color:#e5e7eb ;
    display:flex;
    flex-direction: column;
    padding:100px;
    margin-top: 120px;
    
    
    
    
}

.sec3quote
{
    max-width: 800px;
    align-self: center;
    font-weight: 50;
}

.sec3foot
{
    align-self:flex-end;
    font-size: 25px;
    padding-right:340px;
    
}

.sec4
{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    margin:100px;
    width:1000px;
    gap:150px;
    color:white;
    border-radius: 10px;
    align-self: center;
}

.sec4textbox
{
    
   
    padding:20px;
}
.sec4button
{
    background:#3882f6;
    color:white;
    border-radius:8px;
    border-color:white;
    border-width: 3px;
    width:120px;
    padding:10px;
    font-weight: bold;
}

.footer
{
    background-color:#1F2937;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:40px;
    font-size: 20px;
}

.placeholderimg1
{
    align-self: center;
    background-color:grey ;
    padding:150px;
    padding-bottom:90px;
    padding-top:90px;
}

